.home {
  height: 100vh;
  color: white;
  &_container{
    border: solid 4px black;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    &_title{
      font-size: 2Rem;
      text-transform: uppercase;
    }
  }
}