/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
/*VARS*/
@import './vars';

/* Components styles */
@import '../components/App/app';
@import '../components/Home/home';
@import '../components/Login/login';
@import '../components/Signup/signup';
@import '../components/Header/header';
@import '../components/Account/account';
@import '../components/Editprofil/editprofil';
@import '../components/Loader/loader';

/* Base */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}