.signup{
  height: calc(100vh - 50px);
  &_container{
    height: 100%;
    text-align: center;
    &_title{
      font-size: 2Rem;
      text-transform: uppercase;
      margin: 1rem;
      background-color: $color3;
      border-radius: 20px;
      padding: 1rem;
      color: $color;
    }
    &_form{
      color: $color;
      background-color: $color3;
      display: flex;
      flex-direction: column;
      margin: 2rem 0.5rem;
      text-align: center;
      align-items: center;
      border: 2px solid $color2;
      padding: 1rem;
      border-radius: 20px;
      &_label{
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0.5rem;
      }
      &_input{
        text-align: center;
        padding: 0.5rem;
        width: 80%;
      }
      &_button{
        margin-top: 0.5rem;
        padding: 1rem;
      }
    }
  }
}